.header-info-transaction {
  padding-top: 30px;

  .header-specs {
    @extend .container--main;
    padding-top: 25px;
    padding-bottom: 25px;
    background: $subtle-blue;

    &.program {
      p {
        margin-bottom: 15px;
        a {
          font-size: 12px;
          color: $black;
          &:hover {
            color: $blue;
            svg path {
              color: $blue;
            }
          }
          svg {
            path {
              fill: currentColor;
            }
            height: 21.8px;
            width: 19.8px;
            padding-right: 30px;
          }
          span {
            text-decoration: underline;
          }
        }
      }
    }

    h2 {
      font-family: $Playfair;
      color: $blue;
      font-weight: bold;
      margin-bottom: 20px;
      font-size: 28px;
    }

    h3 {
      color: $light-blue;
      font-size: 12px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    p {
      color: $black;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

@media #{$large-tablet-up} {
  .header-info-transaction {
    display: flex;
    padding-top: 0px;

    .header-specs {
      width: 40%;
      padding-left: 30px !important;
      margin: 0 !important;
      padding-top: 75px;
    }
  }
}
