.header-description {
  @extend .container--main;

  a {
    display: flex;
    align-items: center;
    color: $light-grey;
    cursor: pointer;
    transition: 0.3s ease-out;
    margin-bottom: 20px;

    svg {
      height: 15px;
      margin-right: 10px;
    }

    .cls-1 {
      transition: 0.3s ease-out;
    }

    &:hover {
      color: $blue;

      .cls-1 {
        fill: $blue;
        outline: $blue;
      }
    }
  }

  .small-title {
    color: $light-blue;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .title {
    margin-bottom: 10px;
    font-family: $Playfair;
    font-size: 28px;
    color: $black;
    font-weight: normal;
  }

  .description-program {
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 15px;
      color: $dark-blue;
      font-weight: bold;
    }

    strong {
      color: $dark-blue;
    }

    p {
      margin-bottom: 15px;
    }

    ul {
      li {
        margin-bottom: 15px;
      }
      li::before {
        content: '\2022';
        color: $light-blue;
        font-weight: bold;
        display: inline-block;
        width: 10px;
        line-height: 22px;
        font-size: 36px;
        vertical-align: text-bottom;
        padding-right: 10px;
        margin-left: -20px;
      }
    }
  }
  .description {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 25px;
    hyphens: auto;

    .description_1 {
      margin-bottom: 10px;
    }
  }
}

@media #{$large-tablet-up} {
  .header-description {
    padding-right: 15px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 25px !important;
    width: 60%;

    a {
      margin-bottom: 35px;
    }

    .description {
      display: flex;

      & > * {
        width: 50%;

        &:nth-child(1) {
          padding-right: 15px;
        }
      }
    }
  }
}
