.heart-stroke-wrapper {
  background-repeat: no-repeat;
  background-position-y: 66px;
  background-size: cover;
  .white-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(#fff, 0.8);
  }
  .heart-stroke {
    .header-button {
      h2 {
        font-size: 28px;
        color: $black;
        font-family: $Playfair;
      }
      p {
        color: $black;
      }
      .comp-title {
        font-size: 24px;
        color: $blue;
        padding-top: 30px;
      }
      a {
        margin-top: 20px;
      }
    }
    .column-wrapper {
      display: flex;
      flex-direction: column;
      .column {
        flex: 100%;
        width: 100%;
        padding-right: 0;
      }
    }
  }
  @media #{$large-tablet-up} {
    .heart-stroke {
      .column-wrapper {
        flex-direction: row;
        .column {
          flex: 50%;
          width: 50%;
          &:first-child {
            padding-top: 225px;
          }
        }
      }
      .header-button {
        h2 {
          font-size: 36px;
        }
        p {
          width: 300px;
        }
        .comp-title {
          text-align: right;
          padding-top: 0;
        }
      }
    }
  }
}
