.image-preview-banner {
  .image-section {
    height: 380px;
    background-size: cover;
    background-position: center;
    position: relative;

    .image-preview-carousel {
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      background: white;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      height: 85px;

      .owl-stage-outer {
        overflow: hidden;
        width: 100%;
        .owl-stage {
          display: flex;
          margin: auto;
        }
      }

      .owl-nav.disabled {
        display: none;
      }

      img {
        height: 45px;
        width: 45px;
        border: $light-grey 1px solid;
        cursor: pointer;
        opacity: 0.75;
        object-fit: cover;

        &.active {
          opacity: 1;
          border-color: $grey;
        }
      }
    }
  }
  .info-section {
    .infos {
      @extend .container--main;
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgba($grey, 0.8);
      min-width: 40%;
      padding-right: 50px !important;

      ul {
        margin: -10px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          display: flex;
          align-items: center;
          color: white;
          font-size: 14px;
          font-family: $Montserrat;
          padding: 10px;

          img,
          svg {
            height: 25px;
            width: 25px;
            margin-right: 15px;
            path {
              fill: $light-blue;
              stroke: $light-blue;
            }
          }
        }
      }
    }

    .cta-price {
      background: $black;
      padding-top: 10px;
      padding-bottom: 20px;

      p {
        color: white;
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
      }

      button {
        color: $blue;
        text-transform: uppercase;
        box-shadow: none;
        padding: 10px 20px;
        background: white;
        border-radius: 50px;
        border: none;
        font-size: 14px;
        display: block;
        margin: auto;
        cursor: pointer;
        font-family: $Montserrat;
      }
    }
  }
}

@media #{$large-tablet-up} {
  .image-preview-banner {
    position: relative;
    .image-section {
      height: 700px;

      .image-preview-carousel {
        background: none;
        bottom: 110px;
      }
    }
    .info-section {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      .infos {
        margin-left: 0 !important;
        margin-right: 0 !important;
        ul {
          flex-wrap: nowrap;
          li {
          }
        }
      }

      .cta-price {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 10px;
        justify-content: space-evenly;

        p {
          margin-bottom: 0;
          white-space: nowrap;
          margin-right: 20px;
        }

        button {
          margin: 0;
        }
      }
    }
  }
}
