.image-banner-wrapper {
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-color: #ffffffea;
  background-size: cover;
  background-position: bottom;
  .image-banner {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    .column {
      width: 100%;
      flex: 100%;
      padding: 50px 0;
      h2 {
        color: $black;
        font-size: 28px;
        font-family: $Playfair;
        padding: 10px;
        font-weight: 100;
      }
      h3 {
        color: $blue;
        font-size: 24px;
        padding: 10px;
      }
      p {
        color: $black;
        font-size: 14px;
        padding: 10px;
      }
    }
    .white-bg {
      background-blend-mode: lighten;
      border-radius: 5px;
      background-color: none;
    }
  }
  @media #{$desktop-up} {
    background-color: #ffffffb8;
    .image-banner {
      flex-direction: row;
      .column {
        width: 50%;
        flex: 50%;
        padding: 50px;
      }
      .white-bg {
        background-color: #ffffff9e;
      }
    }
  }
}
