.news-featured-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column-reverse;
  .news-box {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 450px;
    &.no-shadow {
      box-shadow: initial;
      font-size: 14px;
      margin-top: 30px;
      min-height: auto;
    }
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
    a {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .category {
        position: absolute;
        top: 15px;
        right: 30px;
        background-color: #fff;
        border-radius: 50px;
        color: $light-grey;
        font-size: 10px;
        padding: 3px;
        width: 160px;
        max-width: 100%;
        text-align: center;
      }
      .news-box-content {
        flex: 1;
      }
      .info-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 10px 30px 20px;
        background-color: rgba(#000, 0.35);
        .info {
          flex: 100%;
          width: 100%;
          h3 {
            font-size: 32px;
            line-height: 34px;
            padding-top: 15px;
            padding-bottom: 10px;
            font-weight: normal;
          }
          p {
            font-size: 14px;
            opacity: 0.8;
          }
        }
        .read-more {
          flex: 100%;
          width: 100%;
          text-align: right;
          align-self: flex-end;
          font-weight: bold;
          .arrow {
            font-size: 22px;
            position: relative;
            top: 2px;
            padding-right: 4px;
          }
        }
      }
    }
  }
  .categories {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    h3 {
      font-weight: bold;
      font-size: 20px;
      color: $black;
      border-bottom: 1px solid $gray-shadow;
      margin: 20px 15px 0;
      padding: 0 15px 10px;
    }
    .checkbox-container {
      margin: 25px 30px 40px;
    }
    .filter-news-wrapper {
      text-align: center;
      height: 50px;
      border-bottom: 1px solid $gray-shadow;
      margin: 0 15px;
    }

    .newsletter-container {
      margin: 30px 30px 0;
    }
  }
}

#news-content {
  .loader-container {
    width: 100%;
    height: 120px;
    text-align: center;
    img {
      max-height: 100%;
      padding: 20px 0;
    }
  }
}

@media #{$large-tablet-up} {
  .news-featured-container {
    flex-direction: row;
    .news-box {
      width: 65%;
      flex: 65%;
      &.no-shadow {
        margin-top: 0;
      }
      .info-container {
        flex-direction: row;
        .info {
          flex: 75%;
          width: 75%;
        }
        .read-more {
          flex: 25%;
          width: 25%;
        }
      }
    }
    .categories {
      flex: 35%;
      width: 35%;
      margin-left: 20px;
    }
  }
}
