.partner-banner-wrapper{
    padding-bottom: 300px;
    position: relative;
    .partner-banner{
        background-repeat: no-repeat;
       
        margin: 0 !important;
        min-height: 350px;
        background-size: cover;

        background-position: top center;
        padding-top: 7%;
        padding-bottom: 7%;
        
        .col{
            width: 100%;
            flex: 100%;
            margin:0 !important;
            color: $white;
            padding-bottom: 80px;
            h1,h3,p{
                padding-right: 30px;
            }
            h1{
                padding: 20px 0;
                font-size: 36px;
                font-weight: bold;
            }
            h3{
                font-size: 24px;
                font-weight: bold;
            }
            p{
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
        .carousel-container{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 300px;
            background-color: $white;
            color: $blue;
            font-size: 27px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            .carousel-title{
                padding-right: 120px;
            }
        }
    }
    @media #{$tablet-up}{
        padding-bottom: 400px;
        .partner-banner{
            background-position: bottom right;
            .carousel-container{
                height: 400px;
            }
        }
    }

    @media #{$desktop-up}{
        margin-bottom: 50px;
        margin-top: -75px;
        padding-bottom: 0;
        .partner-banner{
            width: 90%;
            min-height: 400px;
            position: relative;
            .col{
                width: 50%;
            flex: 50%;
            }
            .carousel-container{
                
                right: 90px;
                width: 580px;
                box-shadow: 1px 1px 4px 0px #a7a7a7;
            }
        }
    }
}