.partner-banner-wrapper {
  .partner-banner {
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 30px;
    }
    .container--main {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .col {
      padding-left: 35px;
      padding-right: 35px;

      @media #{$tablet-only} {
        padding-left: 70px;
        padding-right: 70px;
      }
    }
    .carousel-container {
      position: relative;
      bottom: -20px;
      margin-bottom: 20px;
      flex: 1;
      height: 400px;
      background-color: $white;
      color: $blue;
      font-size: 27px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      .carousel-title {
        padding-right: 120px;
      }
    }
  }
  @media #{$desktop-up} {
    .partner-banner {
      margin-bottom: 120px;
      .container--main {
        flex-direction: row;
        padding-left: 140px;
        padding-right: 140px;
      }
      .col {
        width: 50%;
        padding-right: 100px;
        padding-left: 0;
      }
      .carousel-container {
        margin-top: 0;
        bottom: -130px;
        width: 50%;
        box-shadow: 1px 1px 4px 0px #a7a7a7;
        .carousel-title {
        }
      }
    }
  }
}
