.quotes-carousel {
    padding-top: 50px;
    padding-bottom: 50px;
  .owl-stage-outer {
    overflow: hidden;
    .owl-stage {
      display: flex;
      justify-content: center;
      .owl-item {
        .item {
          text-align: center;
          .quotes-title {
            font-size: 28px;
          }
          .quote {
            font-size: 30px;
            font-style: italic;
            padding: 24px 0;
          }
          .author {
            color: $light-grey;
            font-weight: bold;
            font-size: 13px;
          }
        }
      }
    }
    
  }
  .owl-nav{
    display: none;
}
.owl-dots{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    .owl-dot{
        margin: 0 10px;
        background-color: $gray-shadow;
        border: 0;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &.active, &:hover{
            background-color: $light-blue;
        }
    }
}
  @media #{$desktop-up} {
    .owl-stage-outer {
      overflow: hidden;
      .owl-stage {
        .owl-item {
          .item {
            padding: 0 20%;
            .quotes-title {
              font-size: 32px;
            }
            .quote {
              font-size: 30px;
            }
            .author {
              font-size: 18px;
            }
          }
        }
      }
    }
    .owl-dots{
        .owl-dot{
            width: 16px;
            height: 16px;

        }
    }
  }
}
