.side_by_side-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 30px;
  padding-top: 30px;
  overflow: hidden;
  & > * {
    flex: 100%;
    width: 100%;
    padding: 50px 0;
  }

  .content {
    display: flex;
    flex-direction: column;

    order: 3;
    h2 {
      font-size: 28px;
      padding-bottom: 25px;
    }
    p {
      font-size: 14px;
    }
    a {
      display: inline-flex;
      margin: 25px auto 0 0;
    }
  }
  &.content-right {
    
    .image-container {
        .partner-banner {
          background-position: bottom right;
        }
        img {
            margin: auto;
            display: inherit;
            max-width: 750px;
        }
      }
  }
  &.content-left {
    .image-container {
        .partner-banner {
          background-position: bottom left;
        }
        img {
        }
      }
  }
  .image-container {
    position: relative;
    order: 2;
    .partner-banner {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      left: -100px;
      width: 700px;
      height: 80%;
      z-index: -1;
      max-width: 650px;
    }
    img {
        .image-shadow{
            box-shadow: 0px 0px 40px -5px $light-grey;
        }
      
      width: 100%;
      height: auto;
      max-width: 450px;
    }
  }
  ul{
    color: $blue;
    font-size: 25px;
    li{
      font-size: 14px;
      color: $black;
      position: relative;
      padding: 10px 0;
      &:before{
        width: 6px;
        height: 6px;
        border-radius: 14px;
        background-color: $blue;
        content: "";
        position: absolute;
        left: -22px;
        top: 16px;

      }
    }
  }
  @media #{$tablet-up} {
    .image-container {
      .partner-banner {
        margin-top: 50px;
        left: unset;
        width: 100%;
      }
    }
  }
  @media #{$large-tablet-up} {
    padding-right: 0;
    padding-left: 0;
    flex-direction: row;
    & > * {
      flex: 50%;
      width: 50%;
      padding: 75px 0;
    }
    &.content-right {
      .content {
        order: 3;
        text-align: right;
        padding-left: 100px;
        a {
            margin: 25px 0 0 auto;
          }
      }
      .image-container {
        .partner-banner {
          height: 63%;
        }
    }
    }
    &.content-left {
      .content {
        order: 1;
        padding-right: 100px;
        a {
            margin: 25px auto 0 0;
          }
      }
    }
  }
}
