.three-column-container {
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 24px;
  .group-content {
    .group-column {
      .img-title {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        img {
          height: 45px;
          margin: 10px 15px 5px 7px;
        }
        .title {
          display: flex;
          align-items: center;
          font-size: 28px;
          justify-items: center;
          padding-left: 5px;
          line-height: 1.25;
        }
      }
      .content {
        font-size: 14px;
        padding-bottom: 25px;
      }
    }
  }
  .under-content {
    .under-box {
      font-size: 14px;
      padding-top: 10px;
    }
    .button {
      display: inline-block;
      margin: 25px 0;
    }
  }
}
@media #{$large-tablet-up} {
  .three-column-container {
    .group-content {
      display: flex;
      flex-direction: row;
      .group-column {
        flex: 33%;
        width: 33%;
        padding: 0 30px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    .under-content {
      display: flex;
      flex-direction: row;
      margin-bottom: 25px;
      .under-box {
        max-width: 70%;
        padding-right: 70px;
      }
      .button {
        display: inline-flex;
        margin: 0 0 auto 0;
        padding: 11px 37px;
      }
    }
  }
}
