.transactions-program-container {
  .transactions-program-carousel-wrapper {
    &.container--main {
      display: flex;
      padding-top: 0 !important;
    }
  }
  .container--main {
    position: relative;
    margin: 0 -35px;
  }

  &.no-bg {
    .top {
      .transactions-program-carousel-wrapper {
        margin-top: 50px;
      }
    }
  }

  &:not(.no-bg) {
    .top {
      background-color: $lighter-blue;
    }
  }
  .top {
    .container--main {
      padding-top: 40px;

      h2 {
        font-size: 36px;
        font-family: $Playfair;
        font-weight: normal;
      }
      .info {
        flex: 1;
        padding: 0 35px;
        .btn-container {
          height: 30px;
          margin-top: 20px;
        }
      }
      .arrow {
        display: none;
      }
    }
  }
  .transactions-program-carousel {
    margin-top: 20px;
    width: auto;
    .owl-stage-outer {
      .owl-stage {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 5px;
        flex-wrap: wrap;
        .transaction-program {
          width: 280px;
          position: relative;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          min-height: 320px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
          border-radius: 10px;
          overflow: hidden;
          max-width: 100%;
          max-height: 400px;
          .lower {
            background-color: rgba(0, 0, 0, 0.35);
            color: #fff;
            width: 100%;
            position: absolute;
            bottom: 0;

            .price {
              font-weight: bold;
              font-size: 24px;
              padding: 20px;
            }
            .region {
              text-align: center;
              font-size: 14px;
            }
            .contact {
              color: $blue;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 0;
              margin-top: 10px;
              transition: all 0.3s ease-in-out;
              overflow: hidden;
            }
          }
          &:hover {
            .lower {
              .contact {
                height: 50px;
              }
            }
          }
        }
      }
    }
    .owl-nav {
      display: block !important;
      top: -115px;
      left: 0;
      padding-right: 35px;
      margin: auto;
      position: absolute;
      @media #{$tablet-only} {
        padding-right: 70px;
      }

      @media #{$large-tablet-only} {
        padding-right: 100px;
      }

      @media #{$desktop-up} {
        padding-right: 140px;
      }
    }
  }
}

@media #{$large-tablet-up} {
  .transactions-program-container {
    .container--main {
      margin: auto;
    }
    .top {
      margin-bottom: 200px;
      .container--main {
        .arrow {
          display: block;
          flex: 1;
          align-self: flex-end;
          text-align: right;
          color: $blue;
          font-size: 24px;
          margin-top: 50px;
          padding: 0 7px;
        }
        .info {
          padding: 0;
          p {
            max-width: 350px;
          }
        }
      }
    }
    .transactions-program-carousel {
      position: relative;
      top: 250px;
      margin-top: -220px;
      margin-bottom: 50px;
      .owl-stage-outer {
        .owl-stage {
          .transaction-program {
            width: 530px;
            min-height: 450px;
          }
        }
      }
    }
  }
}
