.transactions-program-container {
  &:not(.no-bg) {
    .top {
      background-color: $lighter-blue;
    }
  }
  .top {
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
    padding-top: 40px;

    h2 {
      font-size: 36px;
      font-family: $Playfair;
      font-weight: normal;
    }
    .info {
      flex: 1;
      .btn-container {
        height: 30px;
        margin-top: 20px;
      }
    }
    .arrow {
      flex: 1;
      align-self: flex-end;
      text-align: right;
      color: $blue;
      font-size: 24px;
      margin-top: 50px;
      padding-right: 130px;
    }
  }
  .transactions-program-carousel {
    margin-top: -250px;
    margin-bottom: 50px;
    .owl-stage-outer {
      .owl-stage {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 5px;
        flex-wrap: wrap;
        .transaction-program {
          width: 320px;
          position: relative;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          min-height: 320px;
          box-shadow: 0 3px 6px #0000002e;
          border-radius: 10px;
          overflow: hidden;
          max-width: 100%;
          max-height: 400px;
          display: flex;
          align-items: flex-end;
          .lower {
            background-color: rgba(0, 0, 0, 0.35);
            color: #fff;
            width: 100%;

            .price {
              font-weight: bold;
              font-size: 24px;
              padding: 20px;
            }
            .region {
              text-align: center;
              font-size: 14px;
            }
            .contact {
              color: $blue;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 0;
              margin-top: 10px;
              transition: all 0.3s ease-in-out;
              overflow: hidden;
            }
          }
          &:hover {
            .lower {
              .contact {
                height: 50px;
              }
            }
          }
        }
      }
    }
    .owl-nav {
      display: block !important;
      top: -104px;
      right: 0;
      padding-right: 35px;
      margin: auto;
      position: absolute;
      @media #{$tablet-only} {
        padding-right: 70px;
      }

      @media #{$large-tablet-only} {
        padding-right: 100px;
      }

      @media #{$desktop-up} {
        padding-right: 140px;
      }
    }
  }
}

@media #{$large-tablet-up} {
  .transactions-program-container {
    .top {
      flex-direction: row;
      .info {
        p {
          max-width: 350px;
        }
      }
    }
    .transactions-program-carousel {
      .owl-stage-outer {
        .owl-stage {
          .transaction-program {
            width: 530px;
            min-height: 450px;
          }
        }
      }
    }
  }
}
