.contact-forms-wrapper {
  display: flex;
  flex-wrap: wrap;
  .column {
    color: $black;
    flex: 100%;
    width: 100%;
    h2 {
      font-size: 44px;
      font-family: $Playfair;
      font-weight: 100;
      padding-bottom: 25px;
    }
    p {
      font-size: 14px;
      line-height: 24px;
    }
    textarea.error,
    input.error {
      border-color: red;
    }
    .input-group {
      display: flex;
      font-size: 18px;
      flex-wrap: wrap;
      & > * {
        flex: 100%;
        width: 100%;
        padding: 25px 0;
      }
    }
    .text-area-wrapper {
      padding: 25px 0;
      padding-bottom: 0;
      font-size: 18px;
      max-width: 100%;
      textarea {
        min-height: 100px;
      }
    }

    .additionnal-information {
      font-size: 12px;
      color: $light-grey;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      & > * {
        padding: 4px 0;
      }
      p {
        font-size: 12px;
        line-height: inherit;
        a {
          text-decoration: underline;
        }
      }
    }
    .submit-button {
      padding: 50px;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
    .icon-group {
      .field {
        margin-top: 25px;
        i {
          padding-top: 10px;
          padding-bottom: 10px;
          margin: 5px 0;
        }
        a {
          font-size: 12px;
          color: $black;
          padding: 0 15px;
          white-space: pre;
        }
      }
    }
  }
  @media #{$large-tablet-up} {
    .column {
      &:first-child {
        flex: 0.35;
        width: 35%;
        min-width: 400px;
        padding-right: 50px;
      }
      &:last-child {
        flex: 1;
        width: 65%;
        padding-top: 75px;
      }
      .input-group {
        & > * {
          flex: 1;
          width: 50%;
          padding: 25px;
        }
      }
      .text-area-wrapper {
        padding: 25px;
        padding-bottom: 0;
      }
      .additionnal-information {
        flex-direction: row;
        justify-content: space-between;
        .obligatoire {
          text-align: right;
          width: 150px;
        }
        p {
          width: 320px;
        }
      }
    }
  }
}

.gm-style
  > div:first-child
  > div
  + div
  > div:last-child
  > div
  > div:first-child {
  /* we have to use !important because we are overwritng inline styles */
  box-shadow: none !important;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
  div {
    background-color: #fff !important;
  }
}

.icon-group {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: $black;
  .field {
    display: flex;
    align-items: center;
    i {
      min-width: 46px;
      font-size: 15px;
      color: $light-blue;
      padding: 15px;
      border-right: 1px solid $light-blue;
    }
    p {
      font-size: 12px;
      color: $black;
      padding: 0 15px;
      white-space: pre;
    }
  }
}
