.employee-container {
  padding: 35px 25px;
  max-width: 100%;
  margin: auto;
  height: 485px;
  box-shadow: 0px 5px 10px -1px $light-grey;
  .employee-content {
    position: relative;
    height: 100%;
    width: 100%;
    .pic {
      height: 140px;
      border-radius: 50%;
      box-shadow: 0 0 0 7px $light-blue, 0 0 8px 7px $light-grey;
      display: flex;
      margin: auto;
    }
    .employee-info {
      padding: 20px 20px 0 20px;
      text-align: center;
      .employee-name {
        font-size: 24px;
        padding-bottom: 7px;
        font-family: $Montserrat;
      }
      .employee-title {
        font-size: 14px;
        font-weight: lighter;
      }
    }
    .employee-desc {
      padding: 5% 0 0 0;
      text-align: center;
      font-size: 14px;
    }
    .employee-email-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      width: 100%;
      .fas {
        font-size: 24px;
        color: $light-blue;
        text-align: center;
        margin-bottom: 5px;
      }
      .employee-email {
        text-align: center;
        width: 100%;
      }
    }
  }
}
