.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 3000;
  .title-wrapper {
    font-family: $Playfair;
    font-size: 36px;
    padding: 0 25px;
  }
  .contact-forms-wrapper {
    .column {
      padding-top: 20px !important;
      padding-right: 0 !important;
    }
  }
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--align-top {
  align-items: flex-start;
}

.modal__bg {
  background: transparent;
}

.modal__dialog {
  padding: 1.2rem;
}

.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 20px;
  padding-top: 25px;
  min-width: 50%;
  background: #fff;
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content--active {
  opacity: 1;
}

.btn-close-wrapper {
  text-align: right;
  .modal__close {
    line-height: 32px;
    padding: 10px;
    z-index: 1100;
    cursor: pointer;
  }
}

.modal__trigger {
  position: relative;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
  z-index: 10;
  opacity: 0;
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 50px;
  transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out,
    transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-close svg {
  width: 32px;
  fill: $light-blue;
  pointer-events: none;
  vertical-align: top;
  border: 1px solid #729ad0;
  border-radius: 50%;
}

.btn-close:hover svg {
  border: 1.5px solid #729ad0;
}
