.news-carousel-wrapper {
  display: flex;
  .news-carousel {
    width: auto;
    padding-top: 75px;
    position: relative;
    .owl-stage-outer {
      overflow: hidden;
      width: 100%;
      padding-bottom: 50px;
      .owl-stage {
        display: flex;
        .owl-item {
          .news-box {
            height: 100%;
            margin-right: 0;
            max-width: 100%;
            width: 280px;
            min-height: 500px;
            overflow: hidden;
            @media #{$large-tablet-up} {
              width: 530px;
              .news-box-content {
                .text {
                  max-height: 200px;
                  overflow: hidden;
                }
              }
            }
          }
        }
      }
    }
    .owl-nav {
      position: absolute;
      top: 0;
      left: 0;
      button {
        .arrow {
          margin: 0;
          margin-right: 15px;
          font-size: 24px;
          padding: 1px 7px;
        }
      }
    }
  }
}
