.partner-carousel {
  overflow: hidden;
  height: 100%;

  padding-top: 10px;
  .owl-stage {
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    .owl-item {
      height: 100%;
      .partners {
        height: 100%;
        display: flex;

        .item {
          width: 100%;
          height: 100%;
          img {
            width: auto;
            height: 100%;
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
  &.absolute{
    .owl-nav{
      position: absolute;
    }
  }
  .owl-stage-outer {
    overflow: hidden;
    height: 100%;
  }
  @media #{$tablet-up} {
    .owl-stage {
      .owl-item {
        .partners {
          flex-direction: column;
          .item {
            height: 50%;
          }
        }
      }
    }
  }
}
.owl-nav {
  top: 20px;
  right: 33px;
  button {
    background: none;
    border: none;
    .arrow {
      border: 1px solid $light-grey;
      transition: all 0.3s ease-in-out;
      height: 44px;
      width: 44px;
      margin: 5px;
      display: flex;
      align-items: center;
      font-size: 22px;
      color: $light-grey;
      font-weight: bold;
      &:hover {
        border: 1px solid $light-blue;
        background-color: $light-blue;
        color: white;
      }
    }
  }
}
