.partner-carousel {
  overflow: hidden;
  height: 100%;

  .owl-stage {
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    .owl-item {
      height: 100%;
      .partners {
        height: 100%;
        display: flex;

        .item {
          width: 100%;
          height: 100%;
          img {
            width: auto;
            height: 100%;
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
  
  .owl-stage-outer {
    overflow: hidden;
    height: 100%;
  }
  @media #{$tablet-up} {
    .owl-stage {
      .owl-item {
        .partners {
          flex-direction: column;
          .item {
            height: 50%;
          }
        }
      }
    }
  }
}
.owl-nav {
  position: absolute;
  top: 20px;
  right: 33px;
  button {
    background: none;
    border: none;
    .arrow {
      border: 1px solid $light-grey;
      padding: 10px;
      transition: all 0.3s ease-in-out;
      svg {
        height: 10px;
        color: $black;
        transition: all 0.3s ease-in-out;
        padding-top: 2px;
      }
      &:hover{
          border: 1px solid $light-blue;
          background-color: $light-blue;
          svg{
              .cls-1{
                  fill: $white!important;
              }
              
          }
          
      }
    }

    &.owl-prev {
      transform: rotate(180deg);
    }
  }
}