.product-box-wrapper{
    min-height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 2px 6px 0px $light-grey;
    height: 100%;
    max-width: 550px;
    margin: auto;
    .product-image{
        width: 100%;
        
    margin-bottom: auto;
        align-self:flex-start;
        overflow: hidden;
        img{
            width:100%;
            height: auto;
            object-fit: cover;
            object-position: bottom;
        }   

    }
    
    h2{
        padding: 20px;
        color: $blue;
        font-size: 24px;
    }
    a{
        margin: 17px;
    }
    @media #{$desktop-up}{
        .product-image{
            img{
                min-height: 330px;
            }  
        }
    }
}
.product-title{
    font-size: 28px;
    color: white;
    line-height: 38px;
    font-family: $Playfair;
    letter-spacing: 1px;
    font-weight: 100;
    @media #{$desktop-up}{
        padding:  40px 0;
    }
}