// Breakpoints - Responsive
// Please follow the mobile first approach with media queries
// More info : https://zellwk.com/blog/how-to-write-mobile-first-css/
$very-small-phone: "(max-width: 375px)";
$phone-only: "(max-width: 599px)";

$tablet-up: "(min-width: 600px)";
$tablet-only: "(min-width: 600px) and (max-width: 899px)";

$large-tablet-up: "(min-width: 900px)";
$large-tablet-only: "(min-width: 900px) and (max-width: 1199px)";
$desktop-lower: "(max-width: 1199px)";
$desktop-up: "(min-width: 1200px)";
$desktop-only: "(min-width: 1200px) and (max-width: 1599px)";

$large-desktop-up: "(min-width: 1600px)";
