/** Import Bootstrap functions */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');


$Montserrat: 'Montserrat', sans-serif;
$Playfair: "Playfair Regular";
//COLOR
$white: #fff;
$lighter-blue: rgba(241, 249, 255, 0.8);
$light-blue: #729AD0;
$blue: #26499B;
$dark-blue: #27499A;

$light-grey: #999999;
$grey: #444444;
$black: #333333;

$back-ground-gray:#F7F7F7;

$gray-shadow: #c5c5c5;